<div class="row">
    <div class="input-field col s6">
        <input placeholder="Train Name" id="name" type="text" value="{{name}}">
        <label for="name">Name</label>
    </div>
    <div class="input-field col s6">
        <input placeholder="Train Number" id="number" type="number" value="{{number}}">
        <label for="number">Number</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s12">
        <input placeholder="Train Status" id="status" type="text" value="{{status}}">
        <label for="status">Status</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s12">
        <input placeholder="Current Station" id="currentStation" type="text" value="{{currentStation}}">
        <label for="currentStation">Current Station</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s12">
        <input type="text" class="datepicker" placeholder="ETA" id="eta" value="{{eta}}">
        <label for="eta">ETA</label>
    </div>
</div>